$base-font-size: 16px;
$main-font-family: 'Arimo', sans-serif;
$main-font-color: #f0f0f0;

$background: #121212;
$primary: #bb86fc;
$dark-primary: #332940;
$primary-variant: #3700b3;
$secondary: #03dac5;
$secondary-variant: #018786;
$error: #b00020;
$error-light: #cf6679;

$shadow: #3b3b3b;
$border: #666666;
