@import '../../../../common/styles/variables';

.userDetails {
    border: 1px solid red;

    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
}

.header {
    &Login {
        &::before {
            content: '@';
            color: $secondary-variant;
        }
    }
}
