.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.login {
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar {
    width: 6rem;
    border-radius: 50%;
}
