// to prevent those imports in every scss module file,
// scss files that do not produce styles (variables/mixins) could be injected in webpack config
@import '../../../../common/styles/variables';
@import '../../../../common/styles/mixins';

.card {
    max-width: 100%;
    padding: 1rem;

    border: 1px solid $border;

    @include basic-shadow;
    @include basic-transition(border);

    &:hover {
        border: 1px solid $primary;
    }
}
